#index-body {
  background-image: url('../assets/beach.jpg');
  height: auto;
  background-position: center;
}

.container, .container-lg {
  /* background-image: linear-gradient(to top, rgba(255, 138, 0, 0.5) rgba(255, 231, 92, 0.5), rgba(129, 238, 214,0.5), rgba(129, 238, 214, 0.5)); */
  background: rgb(255,138,0);
  background: linear-gradient(0deg, rgba(255,138,0,0.5) 20%, rgba(255,231,92,0.5) 35%, rgba(129,238,214,0.5) 75%, rgba(129,238,214,0.5) 80%);
  padding:25px;
  /* margin-top: auto; */
  border-radius: 20px;
  opacity: 0.95;
}