
body {
  height: 100%;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/beach2.jpg');

}

.container {
  background-image: linear-gradient(to top,#ff8a00, #ffe75c,#81EED6,#81EED6);
  padding:25px;
  margin-top: auto;
  border-radius: 20px;
}

#nav {
  position: fixed;
  background-color: #81EED6;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.card {
  margin: 2em;
  background-color: #D9BFEE;
}

/* top margin added to keep from overlap with navbar */
.nav-avoid {
  margin-top: 100px;
}

.jumbotron {
  background-color: #E0EFF5;
  font-family: 'Audiowide', cursive;
}

.bottom-space {
  margin-bottom: 40px;
}

/* Cards on home page. */
/* flex display keeps the cards from overlapping 
when the screen is reduced in width */
/* flex-wrap allows the boxes to stack as the window is resized. Center removes any space between them. */
/* justify-content:center keeps the cards centered as the screen is resized and the content wraps */
/* background-attachment:fixed makes for no top or bottom box edges on a small screen */
.box3, .box2, .box1 {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-color: #F8C9F8;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #F8C9F8, #81EED6 );
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box3 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#portfolio {
  color : rgb(0, 0, 130)
}




#psychic-link {
  color: #975BD7;
}

#psychic-link:hover {
  color: #975BD7;
  background: -webkit-linear-gradient(#b63db6, #0b00a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#psychic-link:visited {
  color: #117E66;
}


/* Code to change how box size is caluclated: */
/* html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
} */

/* Code that will make pictures in the carousel smaller: */
/* #bass {
  scale: 50%;
  height: 25%;
}
#saskia {
  scale: 50%;
  height: 25%;
}
#self {
  scale: 50%;
  height: 25%;
} */


