html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.box {
    /*! width:500px; */
    height: 500px;
}

/* wrap allows the boxes to stack as the window is resized. Center removes any space between them. */
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

.kev
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}


.box3, .box2, .box1 {
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-color: #F8C9F8;
    background-attachment: scroll;
    background-image: linear-gradient(to top, #F8C9F8, #81EED6 );
}

#bass {
    scale: 50%;
    height: 25%;
}

#saskia {
    scale: 50%;
    height: 25%;

}

#self {
    scale: 50%;
    height: 25%;
}


body {
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(94, 97, 92);
    /* background-image: linear-gradient(to top,#ff8a00, rgb(255, 217, 0),#37e4be,#37e4be); */
    background-image: linear-gradient(to top,#ff8a00, #ffe75c,#81EED6,#81EED6);
    
}

#nav {
    position: fixed;
    background-color: #81EED6;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

#nav-text:hover {
}

#invisible {
    visibility: hidden;
}

.card {
    margin: 2em;
    background-color: #D9BFEE;
}

/* #carousel-box{
    position: relative;
    width: 50vh;
    bottom: 30px;
}
 */

 #portfolio {
     color : rgb(0, 0, 77)
 }

 .card {
     margin-top: 20px;
 }

 #jumbo {
     background-color: red;
 }