
body {
  height: 100%;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to top,#ff8a00, #ffe75c,#81EED6,#81EED6);
  
}

#nav {
  position: fixed;
  background-color: #81EED6;
  width: 100vw;
  z-index: 10;
  top: 0;
}

.card {
  margin: 2em;
  background-color: #D9BFEE;
}


#jumbo {
  margin-top: 100px;
  font-family: 'Audiowide', cursive;
  
}

.jumbotron {
  background-color: #E0EFF5;
}

/* flex display keeps the cards from overlapping 
when the screen is reduced in width */
/* flex-wrap allows the boxes to stack as the window is resized. Center removes any space between them. */
/* justify-content:center keeps the cards centered as the screen is resized and the content wraps */
/* background-attachment:fixed makes for no top or bottom box edges on a small screen */
.box3, .box2, .box1 {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-color: #F8C9F8;
  background-attachment: fixed;
  background-image: linear-gradient(to top, #F8C9F8, #81EED6 );
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
}

#portfolio {
  color : rgb(0, 0, 130)
}



/* html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
} */

/* #bass {
  scale: 50%;
  height: 25%;
}

#saskia {
  scale: 50%;
  height: 25%;

}

#self {
  scale: 50%;
  height: 25%;
} */


